/* Nav bar wrapper */
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
/* Nav links wrapper */
.navLinksWrapper {
  display: none;
}
/* Nav Links */
.navLinksWrapper a {
  padding-right: 20px;
}

/*************** Mobile Nav Styling ***************/
.mobileNavWrapper {
  position: fixed;
  display: none;
  top: 0;
  right: -250px;
  z-index: 101;
  width: 100%;
  max-width: 250px;
  background-color: #f3f3f3;
  box-shadow: -13px 0px 16px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: -13px 0px 16px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -13px 0px 16px 1px rgba(0, 0, 0, 0.12);
  height: 100vh;
  display: none;
}
.mobileNavOpenAnum {
  animation-name: openAnum;
  animation-duration: 0.5s;
  display: flex;
  right: 0px;
}

@keyframes openAnum {
  from {
    right: -250px;
  }
  to {
    right: 0;
  }
}
.mobileNavCloseAnum {
  animation-name: closeAnum;
  animation-duration: 0.5s;
  display: flex;
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}

@keyframes closeAnum {
  from {
    right: 0;
  }
  to {
    right: -250px;
  }
}
.mobileNavWrapper ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  width: 100%;
}
.mobileNavWrapper ul a {
  font-size: 20px;
  padding: 15px 10px;
  width: 100%;
  border-left: solid #f3f3f3 10px;
  margin-left: 30px;
  transition: 0.3s;
}
.mobileNavWrapper ul a:hover {
  background-color: #ddd;
  border-left: solid #ddd 10px;
}
.humburgerBtn {
  cursor: pointer;
  display: block;
  margin-right: 30px;
  width: "25px";
}
.humburgerBtn div {
  height: 3px;
  /* width: "30px"; */
  background-color: #333333;
  margin: 5px 0px;
  transition: 0.5s;
}
div.humburgerBtn div:nth-child(1) {
  width: 25px;
}
div.humburgerBtn div:nth-child(2) {
  width: 15px;
}
div.humburgerBtn div:nth-child(3) {
  width: 25px;
}
.closeBtn {
  position: absolute;
  top: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  display: inline-block;
 /* -webkit-transform: scale(1.3, 0.9);*/ /* Safari and Chrome */
 /* -moz-transform: scale(1.3, 0.9);*/ /* Firefox */
 /* -ms-transform: scale(1.3, 0.9);*/ /* IE 9 */
 /* -o-transform: scale(1.3, 0.9);*/ /* Opera */
 /* transform: scale(1.3, 0.9);*/ /* W3C */

  right: 20px;
  cursor: pointer;
  font-family: revert
}

/*************** Mobile Nav Styling End ***************/

/************** Media Queries **************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Show mobile nav */
  .mobileNavWrapper {
    display: none;
  }
  /* Hide humburger button */
  .humburgerBtn {
    display: none;
  }

  /* Hide nav links on large screens*/
  .navLinksWrapper {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
